@use '../modules/variables.scss';
@use '../modules/mixins.scss';

#churrasco{
    padding: 5vw 0;
    display: flex;

    @include mixins.mobile{
        display: block;
        text-align: center;
    }

    .image{
        width: 50%;
    }

    .text-container{
        padding: 0 20px;
        margin-left: 16px;
    }

    .text-title{
        text-align: center;
    }
}